{% extends "partials/conteneur.html" %}

{% block body %}


<!-- Formulaire qui permet aux utilisateurs de selectionner l'année qu'ils souhaitent afficher (comme une pagination) -->
<h1> Tableau pour l'année {{donnees[0][0]}}</h1>
<div class = "form-group">
<form action="{{ url_for('donnees') }}" method="post">
    <select name="annee">
        {% for annee in annees %}
        <option value="{{ annee[0] }}" {% if annee[0] == annee_actuelle %}selected{% endif %}>{{ annee[0] }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Mettre à jour">
</form>
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pays</th>
                <th scope="col">Population</th>
                <th scope="col">Richesse</th>
                <th scope="col">Investissements</th>
                <th scope="col">Médailles (total)</th>
            </tr>
        </thead>
        <tbody>
            {%for donnee in donnees%}
            <tr>
                <td scope="row"><a href="{{ url_for('donnees_pays', nom_pays=donnee.nom) }}">{{ donnee.nom }}</a></td>
                <td scope="row">{{donnee.population}}</td>
                <td scope="row">{{donnee.richesse}}</td>
                <td scope="row">{{donnee.investissement}}</td>
                <td scope="row">{{donnee.total}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

 

{% endblock %}