## LaTeX:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pyg
*.gz
*.brf

## LaTeX bibliography:
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Python:
__pycache__/
*/venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
