<form action="{{url_for('insertion_all')}}" method="post" name="ajout_all">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="code_pays">NOC</label>
        {{ form.code_pays(class_="form-control", placeholder_="saisir le code NOC (3 lettres en majuscules)") }}
        <small id="code_pays" class="form-text text-muted">Entrer le code NOC du pays</small>
    </div>

    <div class="form-group">
        <label for="nom_pays">Nom</label>
        {{ form.nom_pays(class_="form-control", placeholder_="saisir le nom du pays (ne pas oublier les majuscules)") }}
        <small id="nom_pays" class="form-text text-muted">Entrer le nom du pays</small>
    </div>

    <div class="form-group">
        <label for="latitude_pays">Latitude</label>
        {{ form.latitude_pays(class_="form-control", placeholder_="sasir la latitude (comprise entre -90° et 90°)") }}
        <small id="latitude_pays" class="form-text text-muted">Entrer la latitude du pays</small>
    </div>

    <div class="form-group">
        <label for="longitude_pays">Longitude</label>
        {{ form.longitude_pays(class_="form-control", placeholder_="saisir la longitude (comprise entre -180° et 180°)") }}
        <small id="longitude_pays" class="form-text text-muted">Entrer la longitude du pays</small>
    </div>

    <div class="form-group">
        <label for="annee_participation">Année</label>
        {{ form.annee_participation(class_="form-control", placeholder_="saisir l'année au format YYYY") }}
        <small id="annee_participation" class="form-text text-muted">Entrer l'année de participation</small>
    </div>

    <div class="form-group">
        <label for="population_pays">Population</label>
        {{ form.population_pays(class_="form-control", placeholder_="saisir la population du pays") }}
        <small id="population_pays" class="form-text text-muted">Entrer la population du pays</small>
    </div>

    <div class="form-group">
        <label for="richesse_pays">PIB</label>
        {{ form.richesse_pays(class_="form-control", placeholder_="saisir le PIB du pays (valeur entière)") }}
        <small id="richesse_pays" class="form-text text-muted">Entrer le PIB du pays</small>
    </div>

    <div class="form-group">
        <label for="investissement_pays">Niveau d'investissement</label>
        {{ form.investissement_pays(class_="form-control", placeholder_="saisir le montant investi (utiliser le point comme séparateur)") }}
        <small id="investissement_pays" class="form-text text-muted">Entrer le montant de l'investissement dans le domaine sportif</small>
    </div>

    <div class="form-group">
        <label for="gold">Médailles d'or</label>
        {{ form.gold(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
        <small id="gold" class="form-text text-muted">Entrer le nombre de médailles d'or remportées</small>
    </div>

    <div class="form-group">
        <label for="silver">Médailles d'argent</label>
        {{ form.silver(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
        <small id="silver" class="form-text text-muted">Entrer le nombre de médailles d'argent remportées</small>
    </div>

    <div class="form-group">
        <label for="bronze">Médailles de bronze</label>
        {{ form.bronze(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
        <small id="bronze" class="form-text text-muted">Entrer le nombre de médailles de bronze remportées</small>
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>