<form action="{{url_for('insertion_participation')}}" method="post" name="ajout_participation">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="code_pays">NOC</label>
        {{ form.code_pays(class_="form-control", placeholder_="saisir le code NOC (3 lettres en majuscules)") }}
        <small id="code_pays" class="form-text text-muted">Entrer le code NOC du pays</small>
    </div>

    <div class="form-group">
        <label for="annee_participation">Année</label>
        {{ form.annee_participation(class_="form-control", placeholder_="saisir l'année au format YYYY") }}
        <small id="annee_participation" class="form-text text-muted">Entrer l'année de participation</small>
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>