<form action="{{ url_for('edition_ajout', nom_pays=nom_pays, annee_participation=annee_participation) }}" method="post" name="edition_ajout">
    {{ form.hidden_tag() }}

    <input type="hidden" name="nom_pays" value="{{ nom_pays }}">

    <input type="hidden" name="annee_participation" value="{{ annee_participation }}">
    
    <div class="form-group">
        <strong>
            <label for="population_base"><u>Population en base</u> :</label>
            <span>{{ donnees_donnees.population }}</span>
        </strong>
    </div>
    
    <div class="form-group">
        <label for="population_pays">Mettre à jour la population</label>
        {{ form.population_pays(class_="form-control", placeholder_="saisir la population du pays") }}
    </div>
    
    <br/>

    <div class="form-group">
        <strong>
            <label for="richesse_base"><u>PIB en base</u> :</label>
            <span>{{ donnees_donnees.richesse }}</span>
        </strong>
    </div>

    <div class="form-group">
        <label for="richesse_pays">Mettre à jour le PIB</label>
        {{ form.richesse_pays(class_="form-control", placeholder_="saisir le PIB du pays (valeur entière)") }}
    </div>

    <br/>

    <div class="form-group">
        <strong>
            <label for="investissement_base"><u>Niveau d'investissement en base</u> :</label>
            <span>{{ donnees_donnees.investissement }}</span>
        </strong>
    </div>

    <div class="form-group">
        <label for="investissement_pays">Mettre à jour le niveau d'investissement</label>
        {{ form.investissement_pays(class_="form-control", placeholder_="saisir le montant investi (utiliser le point comme séparateur)") }}
    </div>

    <br/>

    <div class="form-group">
        <strong>
            <label for="gold_base"><u>Nombre de médailles d'or en base</u> :</label>
            <span>{{ donnees_medailles.gold_count }}</span>
        </strong>
    </div>

    <div class="form-group">
        <label for="gold">Mettre à jour le nombre de médailles d'or</label>
        {{ form.gold(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
    </div>

    <br/>

    <div class="form-group">
        <strong>
            <label for="silver_base"><u>Nombre de médailles d'argent en base</u> :</label>
            <span>{{ donnees_medailles.silver_count }}</span>
        </strong>
    </div>

    <div class="form-group">
        <label for="silver">Mettre à jour le nombre de médailles d'argent</label>
        {{ form.silver(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
    </div>

    <br/>

    <div class="form-group">
        <strong>
            <label for="bronze_base"><u>Nombre de médailles de bronze en base</u> :</label>
            <span>{{ donnees_medailles.bronze_count }}</span>
        </strong>
    </div>

    <div class="form-group">
        <label for="bronze">Médailles de bronze</label>
        {{ form.bronze(class_="form-control", placeholder_="saisir le nombre de médailles (0 si aucune remportée)") }}
    </div>

    <p><input type="submit" value="Modifier"></p>
</form>