<form action="{{url_for('suppression_edition')}}" method="post" name="suppression_edition">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="nom_pays">Nom</label>
        {{ form.nom_pays(class_="form-control") }}
        <small id="nom_pays" class="form-text text-muted">Sélectionner le nom du pays</small>
    </div>
    
    <div class="form-group">
        <label for="annee_participation">Année</label>
        {{ form.annee_participation(class_="form-control") }}
        <small id="annee_participation" class="form-text text-muted">Sélectionner l'année de l'édition</small>
    </div>

    <p><input type="submit" value="Insérer"></p>
</form>